@import "mixins/mixins";
@import "common/var";

@include b(radio-group) {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  font-size: 0;

  // 只在包含 radio-button 时应用背景色和内边距
  &:has(.el-radio-button) {
    padding: 1.5px;
    background-color: $--background-color-input-base;
  }
}
