@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "select-dropdown";
@import "input";
@import "tag";
@import "option";
@import "option-group";
@import "scrollbar";

@include b(select) {
  display: inline-block;
  position: relative;

  @include e(wrapper) {
    // wrapper 默认不影响布局
  }

  // 当有 prepend 或 append 时，调整为 table 布局
  &.el-select-group {
    line-height: normal;
    display: inline-table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    .el-select__wrapper {
      display: table-cell;
      position: relative;
      vertical-align: middle;
    }

    &.el-select-group--append {
      .el-input__inner {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &.el-select-group--prepend {
      .el-input__inner {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .el-select__tags
    >span {
      display: contents;
    }

  &:hover {
    .el-input__inner {
      border-color: $--select-border-color-hover;
    }
  }

  .el-input__inner {
    cursor: pointer;
    padding-right: 35px;

    &:focus {
      border-color: $--select-input-focus-border-color;
    }
  }

  .el-input {
    & .el-select__caret {
      color: $--select-input-color;
      font-size: $--select-input-font-size;
      transition: transform .3s;
      transform: rotateZ(180deg);
      cursor: pointer;

      @include when(reverse) {
        transform: rotateZ(0deg);
      }

      @include when(show-close) {
        font-size: $--select-font-size;
        text-align: center;
        transform: rotateZ(180deg);
        border-radius: $--border-radius-circle;
        color: $--select-input-color;
        transition: $--color-transition-base;

        &:hover {
          color: $--select-close-hover-color;
        }
      }
    }

    &.is-disabled {
      & .el-input__inner {
        cursor: not-allowed;

        &:hover {
          border-color: $--select-disabled-border;
        }
      }
    }

    &.is-focus .el-input__inner {
      border-color: $--select-input-focus-border-color;
    }
  }

  > .el-input {
    display: block;
  }

  @include e(input) {
    border: none;
    outline: none;
    padding: 0;
    margin-left: 15px;
    color: $--select-multiple-input-color;
    font-size: $--select-font-size;
    appearance: none;
    height: 28px;
    background-color: transparent;
    @include when(mini) {
      height: 14px;
    }
  }

  @include e(close) {
    cursor: pointer;
    position: absolute;
    top: 8px;
    z-index: $--index-top;
    right: 25px;
    color: $--select-input-color;
    line-height: 18px;
    font-size: $--select-input-font-size;

    &:hover {
      color: $--select-close-hover-color;
    }
  }

  @include e(tags) {
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: $--index-normal;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @include e(tags-text) {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .el-tag {
    box-sizing: border-box;
    border-color: transparent;
    margin: 2px 0 2px 6px;
    background-color: #f0f2f5;
    display: flex;
    max-width: 100%;
    align-items: center;

    &__close.el-icon-close {
      background-color: $--color-text-placeholder;
      top: 0;
      color: $--color-white;
      flex-shrink: 0;

      &:hover {
        background-color: $--color-text-secondary;
      }

      &::before {
        display: block;
        transform: translate(0, .5px);
      }
    }
  }
}

@include b(select-group) {
  @include e((append, prepend)) {
    background-color: $--background-color-base;
    color: $--color-info;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border-radius: $--input-border-radius;
    padding: 0 20px;
    width: 1px;
    white-space: nowrap;
    line-height: 1;
    overflow: hidden;

    &:focus {
      outline: none;
    }

    .el-select,
    .el-button {
      display: inline-block;
      margin: -10px -20px;
      vertical-align: middle;
    }

    button.el-button {
      border: none;
    }

    div.el-select .el-input__inner,
    div.el-select:hover .el-input__inner {
      border-color: transparent;
      background-color: transparent;
      color: inherit;
      border-top: 0;
      border-bottom: 0;
    }

    .el-button,
    .el-input {
      font-size: inherit;
    }
  }

  @include e(prepend) {
    border-right-color: #e5e6eb;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    .el-button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  @include e(append) {
    border-left-color: #e5e6eb;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    .el-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
